Img.carImage {
    height: 120px;
    max-width: initial;
    pointer-events: none;
}

p.title {
    font-weight: bold;
    text-transform: uppercase;
}

.content{
    padding: 8px;
    background-color: white;
    border-radius: 0.25rem;

}